# Analyse des données de vente

##### Importer les données et les librairies

In [223]:
import pandas as pd

In [ ]:
df =

In [216]:
Month_df.sample(20)

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
5507,155752,Lightning Charging Cable,1,14.95,02/02/19 15:15,"682 Ridge St, Portland, OR 97035"
17865,276398,27in FHD Monitor,1,149.99,10/23/19 21:05,"556 Jackson St, Dallas, TX 75001"
4881,198725,Google Phone,1,600,05/26/19 17:20,"758 Willow St, New York City, NY 10001"
14680,309682,Wired Headphones,1,11.99,12/05/19 13:08,"470 2nd St, New York City, NY 10001"
17746,312623,27in 4K Gaming Monitor,1,389.99,12/30/19 23:58,"946 Maple St, San Francisco, CA 94016"
13316,308370,Wired Headphones,1,11.99,12/13/19 22:02,"116 Maple St, Boston, MA 02215"
1413,238027,AAA Batteries (4-pack),1,2.99,08/02/19 00:18,"52 Park St, Portland, OR 97035"
12650,235021,USB-C Charging Cable,1,11.95,07/03/19 13:15,"612 Ridge St, New York City, NY 10001"
7666,201375,34in Ultrawide Monitor,1,379.99,05/08/19 05:24,"587 14th St, San Francisco, CA 94016"
8344,217879,AA Batteries (4-pack),1,3.84,06/11/19 09:58,"739 Park St, Los Angeles, CA 90001"
17317,295333,Bose SoundSport Headphones,1,99.99,11/08/19 15:29,"766 Adams St, Dallas, TX 75001"
5810,199613,Wired Headphones,1,11.99,05/28/19 20:20,"510 Maple St, San Francisco, CA 94016"
4763,263900,Lightning Charging Cable,1,14.95,10/20/19 16:00,"537 Wilson St, Los Angeles, CA 90001"
10655,269537,Bose SoundSport Headphones,1,99.99,10/09/19 13:55,"960 Hill St, Los Angeles, CA 90001"
23202,317826,27in 4K Gaming Monitor,1,389.99,12/11/19 13:52,"591 10th St, Los Angeles, CA 90001"
7368,302696,Lightning Charging Cable,1,14.95,12/22/19 08:29,"536 Dogwood St, San Francisco, CA 94016"
8408,170036,Vareebadd Phone,1,400,03/28/19 09:01,"342 Maple St, Boston, MA 02215"
5436,228102,USB-C Charging Cable,1,11.95,07/17/19 13:26,"309 13th St, Los Angeles, CA 90001"
6598,285100,Wired Headphones,1,11.99,11/17/19 21:08,"294 Jefferson St, Atlanta, GA 30301"
9751,203352,Bose SoundSport Headphones,1,99.99,05/04/19 17:25,"848 6th St, San Francisco, CA 94016"

In [217]:
df.set_index('Order ID', inplace=True)
df["Order Date"] = pd.to_datetime(df["Order Date"], errors='coerce')

In [218]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 174659 entries, 176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001" to 278796,Wired Headphones,1,11.99,10/13/19 11:20,"547 Jefferson St, Los Angeles, CA 90001"
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Product           338 non-null    object
 1   Quantity Ordered  338 non-null    object
 2   Price Each        338 non-null    object
 3   Order Date        0 non-null      datetime64[ns]
 4   Purchase Address  338 non-null    object
dtypes: datetime64[ns](1), object(4)
memory usage: 8.0+ MB

In [219]:
df[df.isna().any(axis=1)]

,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
Order ID,,,,,
"176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,""917 1st St, Dallas, TX 75001""",NaN,NaN,NaN,NaT,NaN
"176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,""682 Chestnut St, Boston, MA 02215""",NaN,NaN,NaN,NaT,NaN
"176560,Google Phone,1,600,04/12/19 14:38,""669 Spruce St, Los Angeles, CA 90001""",NaN,NaN,NaN,NaT,NaN
"176560,Wired Headphones,1,11.99,04/12/19 14:38,""669 Spruce St, Los Angeles, CA 90001""",NaN,NaN,NaN,NaT,NaN
"176561,Wired Headphones,1,11.99,04/30/19 09:27,""333 8th St, Los Angeles, CA 90001""",NaN,NaN,NaN,NaT,NaN
...,...,...,...,...,...
"278792,AA Batteries (4-pack),1,3.84,10/12/19 04:32,""920 Adams St, San Francisco, CA 94016""",NaN,NaN,NaN,NaT,NaN
"278793,Wired Headphones,1,11.99,10/28/19 22:00,""161 Chestnut St, Los Angeles, CA 90001""",NaN,NaN,NaN,NaT,NaN
"278794,AA Batteries (4-pack),1,3.84,10/09/19 20:58,""346 Spruce St, San Francisco, CA 94016""",NaN,NaN,NaN,NaT,NaN
"278795,iPhone,1,700,10/31/19 17:21,""291 Hill St, Seattle, WA 98101""",NaN,NaN,NaN,NaT,NaN
"278796,Wired Headphones,1,11.99,10/13/19 11:20,""547 Jefferson St, Los Angeles, CA 90001""",NaN,NaN,NaN,NaT,NaN

In [220]:
df = df.dropna(how='all')
df = df.drop_duplicates()

In [221]:
df[df.isna().any(axis=1)]

          Product  Quantity Ordered  Price Each Order Date  Purchase Address
Order ID
Order ID  Product  Quantity Ordered  Price Each        NaT  Purchase Address

In [222]:
df.sample(20)

ValueError: Cannot take a larger sample than population when 'replace=False'

In [ ]:
df["Order Date"]

0       2019-04-19 08:46:00
2       2019-04-07 22:30:00
3       2019-04-12 14:38:00
4       2019-04-12 14:38:00
5       2019-04-30 09:27:00
                ...
20374   2019-10-12 04:32:00
20375   2019-10-28 22:00:00
20376   2019-10-09 20:58:00
20377   2019-10-31 17:21:00
20378   2019-10-13 11:20:00
Name: Order Date, Length: 174076, dtype: datetime64[ns]